* {
    font-family: "Lucida Console";
}
table {
    width: 100%;
}
table, th, td {
    border: 1px solid black;

}
table {
    border-collapse: collapse;
}
th, td {
    padding: 8px;
}
th {
    background-color: aquamarine;
}
#formdiv{
    display: flex;
    flex-direction: column;
}
#formdiv, label, button, input {
    margin-bottom: 5px;
    padding: 8px;
    font-size: 18px;
}
#formdiv, label{
    
    font-weight: bold;
}
table, button {
   padding: 5px;
}



#updateformdiv {
    display: none;
    flex-direction: row;
}

#updateformdiv, label, button, input {
    margin-bottom: 5px;
    padding: 8px;
    font-size: 18px;
}

#updateformdiv, label {
    font-weight: bold;
}
